<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Cars are Cool!</h1>
    <p><i>Material objects will never fill your empty insecurities</i></p>
    <img src="bugatti.png"/>
    <img src="porshe.png"/>
</body>
</html>
