<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <!-- <%- JSON.stringify(messages) %>  -->
        <!-- based on the structure of your messages, determine how to display them -->
        <% if(messages.registration) { %>
             <% for (var i of messages.registration) { %>
              <h3><%= i %></h3>
             <% } %>
         <% } %>
    <div class="container">
        <h1>Welcome to Quoting Dojo</h1><br><br>
        <form action="/quotes" method="POST">
            <label for="name">Your name: </label>
            <input type="text" name="name" /><br>

            <label for="quote">Your quote: </label>
            <input type="text" name="quote"/><br>

            <input type="submit" value="Add my quote!" style="background-color: green;" /><br>
        </form>
        <a href="/quotes"><button style="background-color: blue">Skip to Quotes!</button></a>
    </div>
</body>
</html>
